---
language: java
dist: trusty
addons:
  sonarcloud:
    organization: "sdorra-github"
script:
  # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
  - mvn -Pcoverage clean install sonar:sonar
